/* Max avatar size */
img {
    width: 200px;
    /* border: 2px solid #F0F0F0; */
    border-radius: 5%;
    margin-right: 10px;
}
/* Main page styling */
body {
    background-color: #37393f;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
/* Hyperlink styling */
a {
    color: #3c95cf;
}
/* Title styling */
#title {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 40px;
}

.member-list {
    display: grid;
    width: 100%;
    grid-template-columns: 50%;
}

.subgrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

code {
    font-family: 'Share Tech Mono', monospace;
}

#subgrid-item {
    border-right-style:dotted;
    border-right-width: 4px;
    border-color:#E74C3C;
    margin-right:25%;
}

#table-item {
    border-style:solid;
    border-left-width: 6px;
    border-right-width: 6px;
    border-color:black;
    background-color: #424949;
}

#button {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:25%;
}

#new-member {
    position: fixed;
    z-index: 100;
    top: 5%;
    right: 40%;
}