img {
    max-width: 200px;
    max-height: 200px;
    /* border: 2px solid #F0F0F0; */
    border-radius: 5%;
    margin-right: 10px;
}

/* Main page styling */
body {
    background-color: #37393f;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

/* Hyperlink styling */
a {
    color: #3c95cf;
}

/* Title styling */
#title {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 40px;
}

#inner-contents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 30%;
    margin-left: 10px;
}

#name {
    border-top-style: dashed;
    border-top-width: 5px;
    border-top-color: white;
    padding-top: 4%;
}