img {
    max-height: 200px;
    /* border: 2px solid #F0F0F0; */
    border-radius: 5%;
    margin-right: 10px;
}
/* Main page styling */
body {
    background-color: #37393f;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
/* Hyperlink styling */
a {
    color: #3c95cf;
}
/* Title styling */
#title {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 40px;
}
input {
    font-size:16px;
    width:25%;
    height:auto;
}
label {
    font-size:20px;
}
#description {
    width:25%;
    height:25%;
    text-align: left;
    overflow-wrap:normal;
    overflow:auto;
}

#status {
    width:40px;
    height:40px;
    margin-top:3%;
    margin-bottom:3%;
    background-color: #292a2c;
}

#status-waiting {   
    width:40px;
    height:40px;
    margin-top:3%;
    margin-bottom:3%;
    background-color: gold;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#status-success {   
    width:40px;
    height:40px;
    margin-top:3%;
    margin-bottom:3%;
    background-color: green;
}

#status-fail {   
    width:40px;
    height:40px;
    margin-top:3%;
    margin-bottom:3%;
    background-color: red;
}

#input-grid {
    display: grid;
    grid-template-columns: auto auto;
}
#submit {
    margin-top:3%;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes fade {
    from {opacity: 100%;}
    to {opacity: 0%;}
}